.contactButton {
  padding: 30px 20px;
  color: #333;
  font-size: 1em;
  cursor: pointer;
  text-decoration: underline;
}
.mail {
  font-size: 2em;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
