.header {
  color: #141313;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .h1 {
      display: block;
      font-size: 2.2em;
      font-weight: bold;
      color: rgb(49, 48, 48);
      text-decoration: none;
    }

    ul {
      display: flex;
      list-style-type: none;
      gap: 20px;
      margin: 0;
      padding: 0;

      a {
        color: #0f0f0f;
        text-decoration: none;
      }
    }
  }
}

.button {
  background-color: #ffffff;
  color: #000000;
  padding: 8px 16px;
  border: 1px solid #000000;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s, transform 0.2s;
  &:hover {
    background-color: #4d55e9;
    transform: scale(1.05);
  }
}
.register {
  background-color: white;
  border: none;
  padding: 10px 20px;
  color: black;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #838181;
    transform: scale(1.05);
  }
}
.username {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  gap: 10px;
}
